USE [master]
GO
/****** Object:  Database [NewsletterForm]    Script Date: 09/11/2017 5:57:52 ******/
CREATE DATABASE [NewsletterForm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewsletterForm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NewsletterForm.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NewsletterForm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NewsletterForm_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewsletterForm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewsletterForm]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/11/2017 5:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 09/11/2017 5:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
	[Source] [int] NOT NULL,
	[SourceOther] [nvarchar](max) NULL,
	[Reason] [nvarchar](max) NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Subscriptions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Subscriptions] ON 

INSERT [dbo].[Subscriptions] ([EmailAddress], [Source], [SourceOther], [Reason], [DateTime]) VALUES (N'gusk82@gmail.com', 1, NULL, N'Just to test the app', CAST(N'2017-11-09 05:52:49.833' AS DateTime))
INSERT [dbo].[Subscriptions] ([EmailAddress], [Source], [SourceOther], [Reason], [DateTime]) VALUES (N'johndoe@test.com', 0, NULL, NULL, CAST(N'2017-11-09 05:53:42.317' AS DateTime))
INSERT [dbo].[Subscriptions] ([EmailAddress], [Source], [SourceOther], [Reason], [DateTime]) VALUES (N'peterpan@yahoo.com', 2, NULL, N'Never miss a deadline!', CAST(N'2017-11-09 05:54:08.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[Subscriptions] OFF
USE [master]
GO
