@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />
<p>This application has been developed by <strong>Gustavo Quevedo</strong>.</p>
<p>Email: <a href="mailto:gusk82@gmail.com">gusk82@gmail.com</a></p>
<p>Phone no: <a href="tel:0892220468">089 222 0468</a></p>
<p>Website: <a href="http://gustavoquevedo.com">gustavoquevedo.com</a></p>
